plugins {
  id 'nf-azure'
}

params {
  output                    = './results'
  allelecallSchemas         = null
  mlstSchemas               = null
  speciesReferences         = null
  phylogenyAlignments       = null
  containerRepository       = null
  containerRepositoryUser   = null
  report_suffix             = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')
}

trace {
    enabled = true
    file = 'data/trace.txt'
    fields = 'task_id,hash,process,tag,status,exit,container,start,complete,realtime,%cpu,rss,workdir'
}

report {
  enabled = false
  file = "data/reports/report_${params.report_suffix}.html"
}

// Load modules.config
includeConfig 'conf/modules.config'

// Load ecdc.config
includeConfig 'conf/ecdc.config'
