plugins {
  id 'nf-azure'
}

params {
  output                    = './results'
  allelecallSchemas         = null
  mlstSchemas               = null
  speciesReferences         = null
  phylogenyAlignments       = null
  containerRepository       = null
  containerRepositoryUser   = null
}

trace {
    enabled = true
    file = 'data/trace.txt'
    overwrite = true
    fields = 'task_id,hash,process,tag,status,exit,container,start,complete,realtime,%cpu,rss,workdir'
}

/*report {
  enabled = true
  file = 'data/report.html'
  overwrite = true
}
*/

// Load ecdc.config
includeConfig 'conf/ecdc.config'

// Load modules.config
includeConfig 'conf/modules.config'
