process {

  withName: BLAST_GENE_CALL_SSI {
    container = "${params.containerRepository}/${params.containerRepositoryUser}/allele_blast_ssi:1.0"
  }

  withName: CUSTOM_CHEWBBACA_SSI {
    container = "${params.containerRepository}/${params.containerRepositoryUser}/custom_chewbbaca_ssi:1.0"
  }

  withName: TARANYS {
    container = "${params.containerRepository}/${params.containerRepositoryUser}/taranys:3.0.1-d"
  }

  withName: ALLELE_CALL {
    container = "${params.containerRepository}/${params.containerRepositoryUser}/chewbbaca:3.3.10"
  }

  withName: MIST {
    container = "${params.containerRepository}/${params.containerRepositoryUser}/mist:1.1.0"
  }

  withName: PULSENET_ALLELECALLING {
    container = "docker.io/ejfresch/pulsenet_allelecall:1.0.0"
  }

  withName: PIGZ_COMPRESS {
    container = "docker.io/ejfresch/pigz:2.8"
  }

  withName: AMRFINDER {
    container = "${params.containerRepository}/ncbi/amr:4.0.3-2024-10-22.1"
  }

  withName: MLST_CGE {
    container = "${params.containerRepository}/${params.containerRepositoryUser}/typing:1.0"
  }

  withName: SEQ_ALIGN_PHYLOGENY {
    container = "docker.io/ejfresch/augur:D"
  }

  withName: IONTORRENT_ERROR_CORRECTION {
    container = "${params.containerRepository}/${params.containerRepositoryUser}/chewbbaca:3.3.10"
  }

  withName: QUAST {
    container = "${params.containerRepository}/${params.containerRepositoryUser}/quast:5.2.0"
  }

  withName: PREFETCH {
    container = "${params.containerRepository}/${params.containerRepositoryUser}/ncbi-tools:2.3"
  }
  
  withName: COMBINE_FASTQ {
    container = "${params.containerRepository}/${params.containerRepositoryUser}/ncbi-tools:2.3"
  }
  
  withName: TRIM {
    container = "${params.containerRepository}/${params.containerRepositoryUser}/denovo_assembly-tools:1.3"
  }

  withName: DOWNSAMPLE {
    container = "${params.containerRepository}/${params.containerRepositoryUser}/denovo_assembly-tools:1.3"
  }

  withName: ASSEMBLE {
    container = "${params.containerRepository}/${params.containerRepositoryUser}/denovo_assembly-tools:1.3"
  }  

  withName: KLEBORATE {
    container = "${params.containerRepository}/${params.containerRepositoryUser}/kleborate:1.0"
  }   

  withName: RESFINDER {
    container = "docker.io/genomicepidemiology/resfinder"
  }

  withName: SPECIES_VERIFICATION {
    container = "docker.io/ejfresch/fastani:1.34"
  }

}
